@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #faebd7;
}

a:visited {
    color: #faebd7;
}

a:hover {
    color: #faebd7;
}

/* -------------------------------- Header ----- General ---- */

#header {
border-bottom: 1px solid #454545;
padding-top: 30px;
padding-bottom: 20px;
margin-top: 30px;
width: 100%;
    background-image: url('../images/nynne-schroder-nMdC42MrwN8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: relative;
}

.stickyheader {
        overflow: hidden;
        background-color: #785964;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* -- Header - Search Bar ----- */
.searchbar {
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-left: 40px;
}

.search {
width: 30%;
}

.rounded,
.form-control {
    opacity: 0.9;
}

#search-addon {
    background-color: #785964;
    color: #faebd7;
}

/* -- Header text and container -- */

.cover-text {
    margin-top: 20px;
    font-size: 46px;
  letter-spacing: 4px;
  padding-top: 38px;
  border-radius: 15px;
  background-color: rgba(120, 89, 100, 0.5);
  color: #faebd7;
  opacity: 1;
}

.cover-text > a {
    text-decoration: none;
}

.cover-text a:active {
        color: #faebd7;
}

.name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.name h1 a {
    text-decoration: none;
    color: #faebd7;
}

.name h1 a:visited {
    color: #faebd7;
}

.name h1 a:focus{
    color: #faebd7;
    outline: none;
}

.title {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 20px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

.title h2 a {
    text-decoration: none;
    color: #faebd7;
}

.title h2 a:visited {
    color: #faebd7;
}

/* --- Header Social Links --- */

.social {
    margin: 0 auto;
    padding-left: 40px;
    text-decoration: none;
}

.social-links {
    padding-bottom: 15px;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
}

.social-links li a i {
    box-shadow: none;
    width: 35px;
    height: 35px;
    padding-top: 13px;
    margin-right: 2px;
    margin-bottom: 3px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 7px;   
position: relative;
display: block;
    color: #faebd7;
    background-color: #785964;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #785964;
    background-color: #faebd7;
    text-decoration: none;
}

.social-links a {
    text-decoration: none;
}

/*Navigation bar  --- General styling --*/
.navcontainer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #785964;
    padding-bottom: 10px;
}

.list-inline {
    color: #faebd7;
}

.iconsize {
    display: inline;
    font-size: 18px;
}

.menucontainer {
    font-size: 0;
    width: 100%;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

/* --- Navigation bar : Hover Colours -- */

.list-inline-item a:hover {
    color: #454545;
}

.iconsize:hover {
    color:#454545;
}

/* --- Navigation bar items styling --- */ 

.menuitem {
    margin-top: 10px;
    padding-top: 10px;
    height: 20px;
    text-align: center;
padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    padding-bottom: 15px;
    color: #faebd7;
    height: 50px;
}

.menuitem a i {
    padding-top: 11px;
    display: inline;
    color: #faebd7;
    font-size: 15px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

/*Main body */

section {
    background-color: #faebd7;
}

.colortest {
    background-color: #faebd7;
}

.maincontent {
    padding-bottom: 30px;
    background-color: #faebd7;
}

/* --- Main body -- Introduction section --- */

.intro-header {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}

.intro-text {
    text-align: center;
    padding: 5px;
}

.intro-header h1 {
    font-family: "raleway", sans-serif;
}

.intro-text h2 {
    font-family: "Roboto condensed", sans-serif;
}

.mainpagetext {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

.reasonstext {
    margin: 0 auto;
    width: 70%;
}

/* --- Footer general styling --- */

footer {
    height: 100px;
    background-color: #785964;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

/* --- Footer colours --- */

.footer-container {
    background-color: #785964;
    color: #faebd7;
    padding-bottom: 10px;
}

.footer-item {
    background-color: #785964;
}

/* --- Footer - Newsletter signup form --- */

.formcontainer {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.signupheader {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.signuptext {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.footerurls {
    list-style-type: none;
    text-transform: uppercase;
    color:#faebd7;
    padding-top: 5px;
}

.footerurls a {
    text-decoration: none;
    color: #faebd7;
}

#aboutsite {
    text-align: center;
    text-transform: uppercase;
    color: #faebd7;
    font-family: "raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.copyright {
    color:#785964;
    width: 100%;
    margin: 0 auto;
}

.copyright-text {
    font-weight: 600;
    letter-spacing: 3px;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
}

#buildinfo,
.footertext li {
    list-style-type: none;
}

footer i {
    display: inline-block;
    font-size: 15px;
    padding-bottom: 5px;
    list-style-type: none;

}

#submitbutton {
    background-color: #faebd7;
    color: #785964;
    font-size: 0.8em;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: 2px;
    width: 10%;
    height: 28px;
}


/*----Images for home page ----*/

#imageone {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 2px solid #785964;
    border-radius: 50%;
    background-image: url('../images/quokkabottles-3qC7qGGMvkA-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear:both;
}

#imagetwo {
    width: 300px;
    height: 300px;
    border: 2px solid #785964;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    background-image: url("../images/argelis-disla-iI3WqzbuiaE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear:both;
}

#imagethree {
    width: 300px;
    height: 300px;
    border: 2px solid #785964;
    border-radius: 50%;
    max-width: 100%;
    max-height: fit-content;
    display: block;
    margin: 0 auto;
    background: url("../images/rocknwool-y7NBxZuL-_w-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear:both;
}

#imagefour {
    width: 300px;
    height: 300px;
    border: 2px solid #785964;
    border-radius: 50%;
    max-width: 100%;
    max-height: fit-content;
    display: block;
    margin: 0 auto;
    background: url("../images/tony-sebastian-f0CHpQRF1Jo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear:both;
}

.reasonsheading,
.reasonstext {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reasonsheading {
    font-weight: 400;
    font-family: "roboto condensed", sans-serif;
}

.reasonscontainer {
    border-right:rgba(120, 89, 100, 0.5) 2px solid;
}



/*------Media Queries -------*/

@media (max-width: 576px) {
    .reasonscontainer {
        border: none;
        width: 200px;
    }
    .reasonstext {
        margin-bottom: 10px;
    }
    .searchbar {
        margin: 0 auto;
    }
}


.cardcontainer {
margin: 0 auto;
}

.card {
    margin: 0 auto;
    width: 300px;
    object-fit: cover;
    border: 1px solid #785964;
}

.cardouter {
    margin-left: 1px;
}

.card-img-top {
    max-height: 320px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.basics {
    background-color: #faebd7;
}
.beginnertuts {
    width: 1024px;
    margin: 0 auto;
}

.videocontainer {
    display: inline-block;
    background-color: #785964;
    vertical-align: top;
    text-align: center;
    width: 33%;
    padding-bottom: 10px;
    margin: 10px auto;
justify-content: center;
}
.desccontainer h3 {
    font-size: 16px;
}
.desccontainer h6 {
    font-size: 14px;
}

.desccontainer p {
    font-size: 12px;
}

.sectionheadings {
    height: 40px;
    width: 100%;
    background-color: #785964;
    color: #faebd7;
    line-height: 8px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
    margin-bottom: 15px;;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.sectionheadings h3 {
    margin: 0 auto;
    width: 100%;
}

.topofpage {
    text-align: center;
    font-family: "Roboto condensed", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #faebd7;

}

/*----Media Queries----*/
@media only screen and (min-width:769px) and (max-width: 1024px) {
    #videowrapper {
    width: 90%;
    background-color: #faebd7;
    }
    .videocontainer {
        margin: 0 auto;
        position: relative;
        display: block;
        font-size: 1em;
        text-align: center;
        width: 80%;
    }
    .videocontainer h6, p {
        display: none;
    } 
    .videocontainer h3 {
        font-size: 18px;
        width: 100%;
    }
    #submitbutton {
        width: 20%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .beginnertuts {
        margin: 0 auto;
    }
    #videowrapper {
        padding: 10px;
    }
    .videocontainer {
        margin: 10px auto;
        position: relative;
        display: block;
        font-size: 1em;
        text-align: center;
    }
    .videocontainer h6, p {
        display: none;
    }
    .videocontainer h3 {
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .desccontainer {
        margin-left: 60px;
        text-align: center;
    }
    #submitbutton {
        width: 20%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .beginnertuts {
        margin: 0 auto;
    }
    .videocontainer {
        margin: 10px auto;
        position: relative;
        display: block;
        width: 300px;
    }
    .videocontainer h6, p {
        display: none;
    }
    .videocontainer h3 {
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .desccontainer {
        margin: 0 auto;
        text-align: center;
    }
    iframe {
        width: 280px;
        height: 200px;
    }
    #submitbutton {
        width: 20%;
    }
}

/*------Contact Form -------*/
.contact-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 40%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #faebd7;
    background-color: #785964;
    border: none;
}

/*----media query----*/
@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 50%; 
    height: 0;

  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pagejumps {
    padding: 10px;
  }

 .jumpbutton {
    background-color: #785964;
    border: 1px solid #faebd7;
    color: #faebd7;
    padding: 5px 10px;
    border-radius: 5px;
 }

 .card-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
 }

 .branding {
    text-align: center;
    font-family: "Roboto condensed", sans-serif;
    font-weight: 400;
    font-size: 1em;
 }

 .card-text {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
 }

 .plusmore {
    width: 80%;
    color:#454545;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    margin: 20px auto 0 ;
    padding-bottom: 20px;
 }

 iframe {
    width: 250px;
    height: 200px;
 }

 .iframe-container {
    height: 280px;
 }

 #beginnerdesc {
    text-align: center;
    width: 70%;
    height: 120;
    margin: 0 auto;
    padding: 15px;
 }

 #thingstolearn h1 {
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 2px;
 }

 #thingstolearn h2 {
    font-family: "Roboto condensed", sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
 }