@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* -------------------------------- Header ----- General ---- */

#header {
border-bottom: 1px solid #454545;
padding-top: 30px;
padding-bottom: 20px;
width: 100%;
    background-image: url('../images/nynne-schroder-nMdC42MrwN8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: relative;
}



/* -- Header - Search Bar ----- */
.searchbar {
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-left: 40px;
}

.search {
width: 30%;
}

.rounded,
.form-control {
    opacity: 0.9;
}

#search-addon {
    background-color: #785964;
    color: #f1fffa;
}

/* -- Header text and container -- */

.cover-text {
    font-size: 46px;
  letter-spacing: 4px;
  padding-top: 40px;
  border-radius: 15px;
  background-color: rgba(120, 89, 100, 0.5);
  color: rgba(241, 255, 250, 1);
}

.name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.title {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 20px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

/* --- Header Social Links --- */

.social {
    margin: 0 auto;
    padding-left: 40px;
}

.social-links {
    padding-bottom: 15px;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 50px;
    text-align: center;
}

.social-links li a i {
    width: 35px;
    height: 35px;
    padding-top: 13px;
    margin-right: 2px;
    margin-bottom: 3px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 7px;   
position: relative;
display: block;
    color: #f1fffa;
    background-color: #785964;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #785964;
    background-color: #f1fffa;
}

/*Navigation bar  --- General styling --*/
.navcontainer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #785964;
    padding-bottom: 10px;
}

.list-inline {
    color: #f1fffa;
}

.iconsize {
    display: inline;
    font-size: 18px;
}



.menucontainer {
    font-size: 0;
    width: 100%;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

/* --- Navigation bar : Hover Colours -- */

.list-inline-item a:hover {
    color: #454545;
}

.iconsize:hover {
    color:#454545;
}

/* --- Navigation bar items styling --- */ 

.menuitem {
    margin-top: 10px;
    padding-top: 10px;
    height: 20px;
    text-align: center;
padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    padding-bottom: 15px;
    color: #f1fffa;
    height: 50px;
}

.menuitem a i {
    padding-top: 11px;
    display: inline;
    color: #f1fffa;
    font-size: 15px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

/*Main body */

section {
    background-color: #f1fffa;
}

/* --- Main body -- Introduction section --- */


.intro-header {
    text-transform: uppercase;
    text-align: center;
       padding-top: 20px;
}

.intro-text {
    text-align: center;
    padding: 10px;
}

.intro-header h1 {
    font-family: "raleway", sans-serif;
}

.intro-text h2 {
    font-family: "Roboto condensed", sans-serif;
}

.introduction {
    text-align: center;
    color: #454545;
    font-family: "Raleway", sans-serif;
}

.mainpagetext {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9rem;
}


/* --- Footer general styling --- */

footer {
    height: 100px;
    background-color: #785964;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

/* --- Footer colours --- */

.footer-container {
    background-color: #785964;
    color: #f1fffa;
    padding-bottom: 10px;
}

.footer-item {
    background-color: #785964;
}

/* --- Footer - Newsletter signup form --- */

.formcontainer {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.signupheader {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.signuptext {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

#footerurls {
    list-style-type: none;
    text-transform: uppercase;
    color:rgba(241, 255, 250, 1);
    padding-top: 5px;
}

#footerurls a {
    color: #f1fffa;

}

#aboutsite {
    text-align: center;
    text-transform: uppercase;
    color: #f1fffa;
    font-family: "raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.copyright {
    color:#785964;
    width: 100%;
    margin: 0 auto;
}

.copyright-text {
    font-weight: 600;
    letter-spacing: 3px;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
}

#buildinfo,
.footertext li {
    list-style-type: none;
}

footer i {
    display: inline-block;
    font-size: 15px;
    padding-bottom: 5px;
    list-style-type: none;

}

#submitbutton {
    background-color: #f1fffa;
    color: #785964;
    font-size: 0.8em;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: 2px;
    width: 10%;
    height: 28px;
}


/* --- Media Queries --- */

